In [2]:
import pandas as pd

In [5]:
seattle_wages = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/seattle_wage_data/Data/City_of_Seattle_Wage_Data_20240523.csv')

In [7]:
seattle_wages.info

<bound method DataFrame.info of                Department   Last Name First Name                    Job Title  \
0       Office of Housing       Gould        Ian          Property Rehab Spec
1       Office of Housing      Kremer    Madison              Com Dev Spec,Sr
2       Office of Housing       Wolff     Sandra              Dev Fin Spec,Sr
3       Office of Housing      Barker      Lacey              Com Dev Spec,Sr
4       Office of Housing       Laird   Danthanh                Fin Anlyst,Sr
...                   ...         ...        ...                          ...
12722  Seattle City Light  Fitzgerald    Matthew          Prot&Cntrl Elctn CC
12723  Seattle City Light     Webster       John  MatSup,Elec-Asg OPVTCHBNSTR
12724  Seattle City Light       Tapia       Rene       Info Technol Prof A BU
12725  Seattle City Light         Hui    Wingfai       Info Technol Prof B-BU
12726  Seattle City Light  Ellermeier       Todd   Elecl Constr&Maint Supv-BU

       Hourly Rate
0            47.080
1            56.390
2            50.200
3            58.650
4            58.370
...             ...
12722        79.740
12723        43.770
12724        63.000
12725        68.192
12726        82.240

[12727 rows x 5 columns]>

In [8]:
seattle_wages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12727 entries, 0 to 12726
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Department    12727 non-null  object
 1   Last Name     12727 non-null  object
 2   First Name    12727 non-null  object
 3   Job Title     12727 non-null  object
 4   Hourly Rate   12727 non-null  float64
dtypes: float64(1), object(4)
memory usage: 497.3+ KB

In [9]:
seattle_wages

,Department,Last Name,First Name,Job Title,Hourly Rate
0,Office of Housing,Gould,Ian,Property Rehab Spec,47.080
1,Office of Housing,Kremer,Madison,"Com Dev Spec,Sr",56.390
2,Office of Housing,Wolff,Sandra,"Dev Fin Spec,Sr",50.200
3,Office of Housing,Barker,Lacey,"Com Dev Spec,Sr",58.650
4,Office of Housing,Laird,Danthanh,"Fin Anlyst,Sr",58.370
...,...,...,...,...,...
12722,Seattle City Light,Fitzgerald,Matthew,Prot&Cntrl Elctn CC,79.740
12723,Seattle City Light,Webster,John,"MatSup,Elec-Asg OPVTCHBNSTR",43.770
12724,Seattle City Light,Tapia,Rene,Info Technol Prof A BU,63.000
12725,Seattle City Light,Hui,Wingfai,Info Technol Prof B-BU,68.192
12726,Seattle City Light,Ellermeier,Todd,Elecl Constr&Maint Supv-BU,82.240