# import libraries and load data

In [26]:
import pandas as pd
import seaborn as sns
import matplotlib as mpl

In [2]:
seattle_wages = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/seattle_wage_data/Data/City_of_Seattle_Wage_Data_20240523.csv')

In [3]:
# max display options

# pd.set_option('display.max_column', None)
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_seq_items', None)
# pd.set_option('display.max_colwidth', 500)
# pd.set_option('expand_frame_repr', True)

# inspect data

In [4]:
seattle_wages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12727 entries, 0 to 12726
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Department    12727 non-null  object
 1   Last Name     12727 non-null  object
 2   First Name    12727 non-null  object
 3   Job Title     12727 non-null  object
 4   Hourly Rate   12727 non-null  float64
dtypes: float64(1), object(4)
memory usage: 497.3+ KB

In [5]:
seattle_wages.head()

          Department Last Name First Name            Job Title  Hourly Rate
0  Office of Housing     Gould        Ian  Property Rehab Spec         47.08
1  Office of Housing    Kremer    Madison      Com Dev Spec,Sr         56.39
2  Office of Housing     Wolff     Sandra      Dev Fin Spec,Sr         50.20
3  Office of Housing    Barker      Lacey      Com Dev Spec,Sr         58.65
4  Office of Housing     Laird   Danthanh        Fin Anlyst,Sr         58.37

In [6]:
seattle_wages.isnull().count()

Department      12727
Last Name       12727
First Name      12727
Job Title       12727
Hourly Rate     12727
dtype: int64

In [7]:
seattle_wages

,Department,Last Name,First Name,Job Title,Hourly Rate
0,Office of Housing,Gould,Ian,Property Rehab Spec,47.080
1,Office of Housing,Kremer,Madison,"Com Dev Spec,Sr",56.390
2,Office of Housing,Wolff,Sandra,"Dev Fin Spec,Sr",50.200
3,Office of Housing,Barker,Lacey,"Com Dev Spec,Sr",58.650
4,Office of Housing,Laird,Danthanh,"Fin Anlyst,Sr",58.370
...,...,...,...,...,...
12722,Seattle City Light,Fitzgerald,Matthew,Prot&Cntrl Elctn CC,79.740
12723,Seattle City Light,Webster,John,"MatSup,Elec-Asg OPVTCHBNSTR",43.770
12724,Seattle City Light,Tapia,Rene,Info Technol Prof A BU,63.000
12725,Seattle City Light,Hui,Wingfai,Info Technol Prof B-BU,68.192
12726,Seattle City Light,Ellermeier,Todd,Elecl Constr&Maint Supv-BU,82.240

In [8]:
seattle_wages.columns

Index(['Department', 'Last Name', 'First Name', 'Job Title', 'Hourly Rate '], dtype='object')

In [9]:
seattle_wages = seattle_wages.rename(columns={'Hourly Rate ':'Hourly Rate'})

In [10]:
seattle_wages.columns

Index(['Department', 'Last Name', 'First Name', 'Job Title', 'Hourly Rate'], dtype='object')

## inspecting columns

### Department

In [11]:
seattle_wages['Department'].unique()

array(['Office of Housing', 'Commnty Sfty and Comm Ctr Dept',
       'Neighborhoods', 'Seattle Public Utilities',
       'Seattle Dept of Transportation', 'Fire Department',
       'Intergovernment Relations', 'Information Technology',
       'Office of Economic Development', 'Education & Early Learning',
       'Parks & Recreation', 'Legislative Department',
       'Office of Labor Standards', "Mayor's Office",
       'Off of Emergency Mngmnt Dept', 'Planning & Comm Development',
       'Seattle Public Library', 'Finance & Admin Services',
       'Seattle Center', 'Police Department', 'Human Services Department',
       'Arts & Culture', 'City Budget Office', 'City of Seattle',
       'Seattle Dept of Human Resource', 'Construction & Inspections',
       'Seattle City Light', 'Hearing Examiner',
       'Police Relief & Pension Fund', 'Ethics & Elections Commission',
       'Sustainability & Environment', 'City Auditor',
       "Employees' Retirement System", 'Community Police Commission',
       'Office for Civil Rights', 'Econ & Revenue Forecasts Dept',
       'Office of Inspector General', 'Immigrant & Refugee Affairs',
       'Civil Service Commissions', 'Office of Employee OMBUD'],
      dtype=object)

In [12]:
seattle_wages['Department'].value_counts()

Parks & Recreation                1710
Seattle City Light                1692
Police Department                 1465
Seattle Public Utilities          1417
Fire Department                   1090
Seattle Dept of Transportation    1038
Seattle Public Library             636
Information Technology             631
Finance & Admin Services           582
Seattle Center                     546
Construction & Inspections         440
Human Services Department          419
Commnty Sfty and Comm Ctr Dept     139
Education & Early Learning         117
Seattle Dept of Human Resource     105
Legislative Department              97
Office of Housing                   60
Neighborhoods                       60
Office of Economic Development      51
Planning & Comm Development         49
Sustainability & Environment        47
City Budget Office                  45
Arts & Culture                      43
Mayor's Office                      37
Office for Civil Rights             32
Employees' Retirement System        31
Office of Labor Standards           30
Office of Inspector General         22
Off of Emergency Mngmnt Dept        17
Civil Service Commissions           13
Immigrant & Refugee Affairs         11
Ethics & Elections Commission       10
Intergovernment Relations            8
City Auditor                         8
Community Police Commission          8
Office of Employee OMBUD             7
Hearing Examiner                     5
Police Relief & Pension Fund         5
Econ & Revenue Forecasts Dept        2
City of Seattle                      2
Name: Department, dtype: int64

In [13]:
departments = seattle_wages['Department'].value_counts()

In [14]:
departments

Parks & Recreation                1710
Seattle City Light                1692
Police Department                 1465
Seattle Public Utilities          1417
Fire Department                   1090
Seattle Dept of Transportation    1038
Seattle Public Library             636
Information Technology             631
Finance & Admin Services           582
Seattle Center                     546
Construction & Inspections         440
Human Services Department          419
Commnty Sfty and Comm Ctr Dept     139
Education & Early Learning         117
Seattle Dept of Human Resource     105
Legislative Department              97
Office of Housing                   60
Neighborhoods                       60
Office of Economic Development      51
Planning & Comm Development         49
Sustainability & Environment        47
City Budget Office                  45
Arts & Culture                      43
Mayor's Office                      37
Office for Civil Rights             32
Employees' Retirement System        31
Office of Labor Standards           30
Office of Inspector General         22
Off of Emergency Mngmnt Dept        17
Civil Service Commissions           13
Immigrant & Refugee Affairs         11
Ethics & Elections Commission       10
Intergovernment Relations            8
City Auditor                         8
Community Police Commission          8
Office of Employee OMBUD             7
Hearing Examiner                     5
Police Relief & Pension Fund         5
Econ & Revenue Forecasts Dept        2
City of Seattle                      2
Name: Department, dtype: int64

In [15]:
department_df = departments.to_frame()

In [16]:
department_df.to_csv("/Users/marcolaureano2/Documents/GitHub/seattle_wage_data/Data/departments.csv")

### job title

In [17]:
seattle_wages['Job Title'].value_counts()

Fireftr-90.46 Hrs                 342
Info Technol Prof B-BU            338
Pol Ofcr-Patrl-BWV                332
Lifeguard *                       275
Maint Laborer                     251
                                 ...
Util Astnce Supv                    1
Asst Dir-Public Svcs                1
Actg Tech I-BU                      1
Fire Lieut, Sr-Trng Div-80 Hrs      1
Mgmt Systs Anlyst,Sr BU-P *         1
Name: Job Title, Length: 1159, dtype: int64

In [18]:
seattle_wages[['Department', 'Job Title']]

               Department                    Job Title
0       Office of Housing          Property Rehab Spec
1       Office of Housing              Com Dev Spec,Sr
2       Office of Housing              Dev Fin Spec,Sr
3       Office of Housing              Com Dev Spec,Sr
4       Office of Housing                Fin Anlyst,Sr
...                   ...                          ...
12722  Seattle City Light          Prot&Cntrl Elctn CC
12723  Seattle City Light  MatSup,Elec-Asg OPVTCHBNSTR
12724  Seattle City Light       Info Technol Prof A BU
12725  Seattle City Light       Info Technol Prof B-BU
12726  Seattle City Light   Elecl Constr&Maint Supv-BU

[12727 rows x 2 columns]

In [19]:
seattle_wages

,Department,Last Name,First Name,Job Title,Hourly Rate
0,Office of Housing,Gould,Ian,Property Rehab Spec,47.080
1,Office of Housing,Kremer,Madison,"Com Dev Spec,Sr",56.390
2,Office of Housing,Wolff,Sandra,"Dev Fin Spec,Sr",50.200
3,Office of Housing,Barker,Lacey,"Com Dev Spec,Sr",58.650
4,Office of Housing,Laird,Danthanh,"Fin Anlyst,Sr",58.370
...,...,...,...,...,...
12722,Seattle City Light,Fitzgerald,Matthew,Prot&Cntrl Elctn CC,79.740
12723,Seattle City Light,Webster,John,"MatSup,Elec-Asg OPVTCHBNSTR",43.770
12724,Seattle City Light,Tapia,Rene,Info Technol Prof A BU,63.000
12725,Seattle City Light,Hui,Wingfai,Info Technol Prof B-BU,68.192
12726,Seattle City Light,Ellermeier,Todd,Elecl Constr&Maint Supv-BU,82.240

## grouping

In [20]:
seattle_wages.groupby(['Department', 'Job Title'])['Hourly Rate'].value_counts()

Department                    Job Title                 Hourly Rate
Arts & Culture                Accountant                47.140         1
                              Accountant,Sr BU          51.940         1
                              Admin Spec II-BU          33.400         1
                              Admin Spec III-BU         37.400         1
                              Admin Staff Anlyst BU     51.220         2
                                                                      ..
Sustainability & Environment  StratAdvsr3,Exempt        79.002         2
                                                        77.842         1
                                                        86.160         1
                              StratAdvsr3,General Govt  72.419         1
                                                        86.158         1
Name: Hourly Rate, Length: 4580, dtype: int64

In [21]:
seattle_wages.groupby(['Department'])['Hourly Rate'].value_counts()

Department                    Hourly Rate
Arts & Culture                34.690         3
                              51.220         3
                              25.980         2
                              37.820         2
                              41.490         2
                                            ..
Sustainability & Environment  76.808         1
                              77.842         1
                              86.158         1
                              86.160         1
                              102.420        1
Name: Hourly Rate, Length: 3670, dtype: int64

In [22]:
avg_wages_by_job = seattle_wages.groupby(['Job Title'])['Hourly Rate'].median()

In [23]:
avg_wages_by_job = avg_wages_by_job.to_frame()

In [24]:
avg_wages_by_job

                                Hourly Rate
Job Title
911 Emerg Comm Anly                   55.24
911 Emerg Comm Dispatcher I           37.70
911 Emerg Comm Dispatcher II          45.04
911 Emerg Comm Dispatcher III         50.39
911 Emerg Comm Dispatcher Supv        61.02
...                                     ...
Wtrshed Inspector *                   37.95
Wtrshed Inspector,Sr                  47.98
Wtrshed Resources Tech                49.02
Wtrshed Resources Tech *              42.04
Yth Supv I *                          23.09

[1159 rows x 1 columns]

In [25]:
avg_wages_by_job.to_csv("/Users/marcolaureano2/Documents/GitHub/seattle_wage_data/Data/avg_wages_by_job.csv")